// Переопределяем карту $font-sizes
$font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem,
  7: 1.2rem,
  8: 0.9rem
);

// Переопределяем карту $position-values
$position-values: (
  0: 0,
  10: 10px,
  20: 20px,
  30: 30px,
  40: 40px,
  50: 50px,
  60: 60px,
  70: 70px,
  80: 80px,
  90: 90px,
  100: 100px,
  200: 200px,
  215: 215px,
  270: 270px,
  300: 300px
);

// Переопределяем цвет secondary
$secondary: #6f42c1;
$info: #d8d8d8;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Переопределите карту $spacers
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 7,
  7: $spacer * 9,
  8: $spacer * 17,
  9: $spacer * 19,
  10: $spacer * 35
);

@import "/node_modules/bootstrap/scss/bootstrap";

.btn {
  border-top-left-radius: 3px;   
  border-top-right-radius: 35px;  
  border-bottom-right-radius: 3px; 
  border-bottom-left-radius: 35px; 
}

$custom-video-brightness: 45%;
.video-brightness {
  filter: brightness($custom-video-brightness);
}
// Пример применения фильтра для Bootstrap класса
.bg-brightness {
  @extend .bg-primary; // Наследуем фон из Bootstrap
  @extend .video-brightness; // Применяем фильтр яркости
}



