// Переопределяем карту $font-sizes
$font-sizes: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem,
  7: 1.2rem,
  8: 0.9rem
);

// Переопределяем цвета
$secondary: #6f42c1;
$info: #d8d8d8;
$gray: #949494;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Переопределите карту $spacers
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 7,
  7: $spacer * 9,
  8: $spacer * 13,
  9: $spacer * 18,
  10: $spacer * 35
);

@import "/node_modules/bootstrap/scss/bootstrap";

.btn {
  border-top-left-radius: 3px;   
  border-top-right-radius: 35px;  
  border-bottom-right-radius: 3px; 
  border-bottom-left-radius: 35px; 
}

  header .nav-link:hover {
    color: #3f3f3f; 
  }

// $custom-video-brightness: 45%;
// .video-brightness {
//   filter: brightness($custom-video-brightness);
// }

// .bg-brightness {
//   @extend .bg-primary; 
//   @extend .video-brightness; 
// }
// Так больше похоже на то, что в макете


